@if (!isRequestOver()) {
<div>
    <span>Loading...</span>
</div>
}@else if(errorInfo()!==''){
<div>
    <span>{{errorInfo()}}</span>
</div>
}
@else if(products().length===0){
<div>
    <span>No product records</span>
</div>
}@else {
<h2>List of Products</h2>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">IMAGE</th>
            <th scope="col">NAME</th>
            <th scope="col">PRICE</th>
            <th scope="col">RATING</th>
            <th scope="col">DELETE</th>
        </tr>
    </thead>
    <tbody class="table-secondary">
        @for (p of products()|productFilter:filterText(); track $index) {
        <tr>
            <td>
                <img [src]="p.imageUrl" alt="NA" title="{{p.productName}}" class="image-box"
                    [routerLink]="['/products','view',p.productId]">
            </td>
            <td>{{p.productName|uppercase}}</td>
            <td>{{p.price|currency:'INR'}}</td>
            <td>{{p.starRating}}</td>
            <td>
                <button title="delete" type="button" class="btn btn-danger btn-box" (click)="delete(p.productId)"> 
                    <i class="bi bi-trash3-fill"></i>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
}