/* 1. element selctor */
/* h2,
        p,
        span {
            background-color: burlywood;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
        } */

/* 2. element selctor */
/* #mainHeader,
        p,
        span {
            background-color: burlywood;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
        } */

/* 3. class selector */
.common-style {
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.box-style {
    border-radius: 5px;
    border-color: burlywood;
    border-width: 1px;
    border-style: solid;
}